<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>MDEO Status</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="ag-grid.css">
    <link rel="stylesheet" href="ag-theme-material.css">
</head>

<header>
    <h1>MDEO Index Dashboard</h1>
    <button onclick="refreshGrid()">Refresh</button>
</header>

<body>
    <section class="flex-container">
        <div class="leftside">
            <div id="myGrid" style="height: 600px;" class="ag-theme-material"></div>
        </div>
        <div class="rightside">
            <h2>Case Studies</h2>
            <select id="problemSelect">
                <option value="">select a problem to run</option>
                <option 
                    value="argumentation" 
                    data-mopt-project-path="src/main/resources/case_studies/argumentation/mdeo/argumentation"
                    data-configured-mopt-file-path="src/main/resources/case_studies/argumentation/mdeo/argumentation/src/main/java/argumentation-framework-argmat-sat-solver.mopt">
                    argumentation (broken)</option>
                <option 
                    value="cra" 
                    data-mopt-project-path="src/main/resources/case_studies/class-responsability-assignment/mdeo/cra"
                    data-configured-mopt-file-path="src/main/resources/case_studies/class-responsability-assignment/mdeo/cra/src/main/java/cra_manual_rules.mopt">
                    cra (broken)</option>
                <option 
                    value="scrum" 
                    data-mopt-project-path="src/main/resources/case_studies/scrum-planning/mdeo/scrum-planning"
                    data-configured-mopt-file-path="src/main/resources/case_studies/scrum-planning/mdeo/scrum-planning/src/main/java/scrum-planning.mopt">
                    scrum</option>
                <option 
                    value="nrp" 
                    data-mopt-project-path="src/main/resources/case_studies/next-release-problem/mdeo/nrp"
                    data-configured-mopt-file-path="src/main/resources/case_studies/next-release-problem/mdeo/nrp/src/main/java/nrp.mopt">
                    nrp</option>
            </select>
            <div><button id="runButton">Run Job</button></div>
            <div><button id="addJSON">Add to Fake Data</button></div>
            <div><button id="addtodb">Add to DB</button></div>
        </div>
    </section>

    <p th:text="${test}" />

    <script src="main.js"></script>
    <script>
        $('#addJSON').click(function() {
            console.log('calling /addjson')
            $.ajax({
                method: 'GET',
                url: "addjson",
                success: function (result) {
                    refreshGrid();
                    console.log(result);
                }
            })
        })
    </script>

<script>
    $('#addtodb').click(function() {
        console.log('calling /addtodatabase')
        $.ajax({
            method: 'GET',
            url: "addtodatabase",
            success: function (result) {
                console.log(result);
            }
        })
    })
</script>

    <script>
        $('#runButton').click(function () {
            $("#callRunJobResult").text('');
            let $selectedOption = $('#problemSelect option:selected')
            if (!$selectedOption.val()){
                $("#callRunJobResult").text('please select a problem');
                return
            }
            console.log('calling /run-job')
            $.ajax({
                method: 'POST',
                url: "/run-job",
                timeout: 30 * 60 * 1000, // 30 minutes timeout to tolerate most long running jobs
                data: {
                    moptProjectPath: $selectedOption.attr('data-mopt-project-path'),
                    configuredMoptFilePath: $selectedOption.attr('data-configured-mopt-file-path')
                },
                success: function (result) {
                    $("#callRunJobResult").text(result);
                }
            })
        })
    </script>

</body>

</html>